/* view mode toggler box */
.boxLight, .boxNight {
  border-radius: 50px;
  height: 30px;
  width: 60px;
  padding: 5px;
  background-color: var(--bg-night);
  transition: all 0.3s;
}

.boxNight {
  background-color: var(--bg-light);
}

/* toggle button */
.buttonLight, .buttonNight {
  cursor: pointer;
  height: 100%;
  width: 30px;
  border-radius: 50%;
  transition: all 0.3s;
  background-color: var(--bg-light);
}

.buttonNight {
  background-color: var(--bg-night);
}
