/* css reset */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}

/* css variables */
:root {
  /* light mode variable */
  --light: #F4F4ED;
  /* night mode variable */
  --night: #110B11;
}

/* light mode is default */
body {
  background-color: var(--light);
  color: var(--night);
}

body.night {
  background-color: var(--night);
  color: var(--light);
}

/* page container */
.container {
  /* width: 100vw;
  padding-left: 10vw;
  padding-right: 10vw; */
}
