/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* css reset */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: var(--light);
  color: var(--night);
}

/* * css variables */
/* colors */
:root {
  /* light mode variable */
  --light: #F4F4ED;
  /* night mode variable */
  --night: #110B11;
}

/* light mode as default */
body.night {
  background-color: var(--night);
  color: var(--light);
}

/* page container */
.container {
  /* width: 100vw;
  padding-left: 10vw;
  padding-right: 10vw; */
}
